---
import Logo from "./Logo.astro";
const year = new Date().getFullYear();
---

<footer
  class="mt-12 flex flex-col gap-2 text-xs sm:flex-row sm:items-center sm:gap-4"
>
  <Logo />
  <div>&copy; {year} MKD Inc.</div>
  <a href="https://github.com/makotodejima" class="underline">GitHub</a>
  <a href="https://www.linkedin.com/in/makotodejima/" class="underline">
    LinkedIn
  </a>
  <div>email: yo[at]makoto.io</div>
</footer>
