@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300|Open+Sans:400,700&subset=japanese");
@import url("https://use.typekit.net/str3lfu.css");

#logo {
  width: 90px;
  .line {
    stroke: #000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 5px;
  }
}
