@import url('https://use.typekit.net/str3lfu.css');

body {
  background-color: rgb(255, 255, 249);
}

h4 {
  font-size: 16px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleOut {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.2;
  }
}
