@import url("https://use.typekit.net/str3lfu.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300|Open+Sans:400,700&subset=japanese");
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

/* Additional CSS written by me */

/* Hero height */
.hero {
  height: 60vh;
}

/* Header links underline animation */

.header-link > a::before {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 1px;
  background-color: #3d4852;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
}

.header-link > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Footer links underline animation */

.footer-link > a::before {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 1px;
  background-color: white;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
}

.footer-link > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.image-container > p {
  transition: opacity 1500ms;
}

.social-links > a {
  transition: all 0.25s ease-in-out 0s;
}

.social-links > a:hover {
  transform: scale(1.1);
}

.social-links > a::before {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 1px;
  background-color: #1c3d5a;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
}

.social-links > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
