@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 100% 2%;
    --foreground: 90 10% 75%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --border: 215 27% 92%;
    --input: 214.3 31.8% 91.4%;
    --ring: 223 27% 68%;

    --radius: 0.5rem;
  }
}

body {
  @apply bg-background text-foreground;
}

#logo {
  @apply w-10;
}

#logo-outer {
  fill: none;
  stroke-width: 5px;
  stroke-dasharray: 483px;
}

#logo-outer {
  stroke: hsl(var(--foreground));
}

.logo-char {
  fill: hsl(var(--foreground));
}
