@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
}

@utility container {
  padding-inline: 0.5rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 1rem;
  }
}

@layer base {
  :root {
    --background: 120 100% 2%;
    --foreground: 90 10% 75%;
  }
}

body {
  @apply bg-background text-foreground;
}

#logo {
  @apply w-10;
}

#logo-outer {
  fill: none;
  stroke-width: 5px;
  stroke-dasharray: 483px;
}

#logo-outer {
  stroke: hsl(var(--foreground));
}

.logo-char {
  fill: hsl(var(--foreground));
}

.markdown-content p {
  @apply mb-4 text-sm leading-relaxed;
}

.markdown-content img {
  @apply my-10 h-auto w-full;
}
