@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
}

@utility container {
  padding-inline: 0.5rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 1rem;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 120 100% 2%;
    --foreground: 90 10% 75%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --border: 215 27% 92%;
    --input: 214.3 31.8% 91.4%;
    --ring: 223 27% 68%;

    --radius: 0.5rem;
  }
}

body {
  @apply bg-background text-foreground;
}

#logo {
  @apply w-10;
}

#logo-outer {
  fill: none;
  stroke-width: 5px;
  stroke-dasharray: 483px;
}

#logo-outer {
  stroke: hsl(var(--foreground));
}

.logo-char {
  fill: hsl(var(--foreground));
}
